.Messages-user-list {
    height: 425px;
    border-right: 1px solid lightgrey;
    overflow-y: auto;
}

/* .Messages-conversation-box {
    height: 425px;
    overflow: auto;
    margin-bottom: 10px;
}

.Messages-conversation-inner {
    display: flex;
    flex-direction: column-reverse;
} */

.Messages-conversation-box .rce-mbox-right {
    background-color: rgb(156, 252, 156);
}

.Messages-conversation-box .rce-mbox-right svg {
    fill: rgb(156, 252, 156);
}

.Messages-conversation-box .rce-container-mbox {
    margin: 10px 0;
}

/* .MessagesHeader { 
    display: flex; 
    justify-content: space-between; 
}  */

.Messages-user-list a:hover {
    cursor: pointer;
}