.Messages-user-list {
    height: 300px;
    border-right: 1px solid lightgrey;
}

.Messages-conversation-box {
    height: 500px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.Messages-conversation-box .rce-mbox-right {
    background-color: rgb(156, 252, 156);
}

.Messages-conversation-box .rce-mbox-right svg {
    fill: rgb(156, 252, 156);
}