.Messages-user-list {
    height: 500px;
    border-right: 1px solid lightgrey;
    overflow-y: auto;
}

.Messages-conversation-box {
    height: 500px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.Messages-conversation-box .rce-mbox-right {
    background-color: rgb(156, 252, 156);
}

.Messages-conversation-box .rce-mbox-right svg {
    fill: rgb(156, 252, 156);
}

.MessagesHeader { 
    display: flex; 
    justify-content: space-between; 
} 

.Messages-user-list a:hover {
    cursor: pointer;
}